#body-content {
  /*padding: 5em;*/
  font-family: Lato, sans-serif;
}
/*cover photo*/
.ui.segment.cover {
  background-color: #FFD34E;
}
.ui.segment.cover {
  vertical-align: 
}
.cover {
  position: float;
  height: 50vh;
  width: 100vw;
  /*background-color: #ffd34e;*/
  /*background: white url('assets/bgimage.jpg');*/
  /*opacity: 0.5;*/
  /*background-size: cover;*/
}
#lenderbee {
  font-family: 'Pacifico';
  text-align: center;
  position: absolute;
  font-size: 6em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 13vh;
  color: #2c2c2c;
  /*-webkit-text-stroke: 1px black;*/
}
#tagline {
  color: #2c2c2c;
  font-family: Lato, sans-serif;
}
.login {
  float: right;
  display: inline;
}

/*body*/
.techused {
  margin-top: 2em;
}
.ui.small.fluid.image, .ui.tiny.fluid.image {
  display: block;
  margin: auto;
  margin-bottom: 2.5em;
}
.ui.top.attached.header.aboutus {
  margin-top: 1em;
}
.team-description {
  margin-top: 2em;
}
.hidden.content {
  width: 90%;
  height: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  text-align: center;
}
h2.ui.header {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0;
}
h3.sub.header {
  margin-top: 0;
  margin-bottom: 0;
}
#footer {
  width: 100%;
  height: 3em;
  margin: 0;
  background-color: #FFD34E;
}
h4{
  margin-top: 6%;
  text-align: center;
  line-height: 25px;
}
