#topbar {
	background-color: #FFD34E;
  z-index: 5;
}

.input.searchBar {
  border: 1px solid #FFD34E;
  width: 70%;
  margin: 1% auto 3% auto;
  z-index: 5;
  opacity: 0.8;
}

div.searchBar {
  background-color: #FFD34E;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  text-align: center;
}

.ui.segment {
  margin: 1% auto;
}

.ui.huge.image {
  height: 200px;
  width: 900px;
  overflow: hidden;
  object-fit: cover;
}

h3 {
  margin: 1%;
}