
#topbar {
	background-color: #FFD34E;
  z-index: 5;
}

.input.searchBar {
  border: 1px solid #FFD34E;
  width: 70%;
  margin: 1% auto 3% auto;
  z-index: 5;
  opacity: 0.8;
}

div.searchBar {
  background-color: #FFD34E;
}

/* For Top Bar Alignment */

.alignleft {
    float: left;
    text-align:left;
    width:33.33333%;
}
.aligncenter {
    float: left;
    text-align:center;
    width:33.33333%;
}
.alignright {
    float: left;
    text-align:right;
    width:33.33333%;
}

/*----------------------*/

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  text-align: center;
}
.ui.segment {
  margin: 1% auto;
}

.ui.huge.image {
  height: 200px;
  width: 900px;
  overflow: hidden;
  object-fit: cover;
}

.ui.fluid.image.crop {
  height: 200px;
  object-fit: cover;
}

.ui.medium.image {
  margin: auto;
  height: 300px;
  object-fit: cover;
}

.ui.tiny.image {
  opacity: 1;
}

h3 {
  margin: 1%;
}

div.ui.comments:last-child {
  margin: auto;
}

.ui.warning.message {
  background-color: #FFD34E;
  color: black;
}

form.ui.reply.form.messageBox {
  height: 5%;
}