@media (min-width: 600px) {

}

.panel-body {
background-color: #FFD34E;
text-align: center;
}

span {
  text-align: center;
  margin: auto;
}
.panel-body .glyphicon glyphicon-menu-hamburger {
  display: block;
  color: black;
}

.input-group {
  margin: 20% auto 0 auto;
  width: 70%;
}

.form-control {
display: block;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #FFD34E;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.profilePicture {
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}

.carousel {
  text-align: center;
}

.carousel ul {
  list-style: none;
  padding-left: 0px;
}

.carousel ul li {
  display: inline;
  padding: 5px;
}

.carousel ul li img {
  width: 100px;
  height: 100px;
}

.inline {
  display: inline-block;
}

.arrow {
  width: 15px;
  height: 100px;
}