@media (min-width: 600px) {

}

html, body, .map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.panel-body {
background-color: #FFD34E;
text-align: center;
}

span {
  text-align: center;
  margin: auto;
}
.panel-body .glyphicon glyphicon-menu-hamburger {
  position: relative; /* so that the sideNavBar can be absolute relative top-nav-Bar */
  display: block;
  color: black;
}

.input-group {
  margin: 2% auto 2% auto;
  width: 70%;
}

.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #FFD34E;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.messageBox {
  width: 70%;
  margin: auto;
}

.sideNavBar {
  background-color: #ddd;
/*  opacity: 0.85;*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* needs to take up 100% of the view height */
  width: 250px; /* needs to take up 75% or so of the view width */
  z-index: 9999; /* so sideNav renders on top of everything else */  
}

.postForm {
  margin: auto auto 10% auto;
  width: 70%;
}
.profilePicture {
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}

.carousel {
  text-align: center;
}

.carousel ul {
  list-style: none;
  padding-left: 0px;
}

.carousel ul li {
  display: inline;
  padding: 5px;
}

.carousel ul li img {
  width: 100px;
  height: 100px;
}

.inline {
  display: inline-block;
}

.arrow {
  width: 15px;
  height: 100px;
}

.resultsContainer {
  width: 100%;
  height: 100%;
  margin: auto;
}

#mapPanel {
 position: absolute;
 top: 15%;
 color: red;
 background-color: yellow;
 right: 5%;
 z-index: 5;
 margin: auto;
 border: 1px solid #999;
}

div .map-container {
  width: 100%;
  height: 75%;
  position: absolute;
  margin: auto;
}

.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div
{
    /* we have to use !important because we are overwritng inline styles */
    color: "yellow" !important;
}

/* arrow colour */
/*.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div
{
    background-color: "yellow" !important; 
}
*/
/* close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child
{
    display: none;
}

/* image icon inside close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img
{
    display: none;
}

.pendingReviewDiv {
  border: 1px solid black;
}

/* positioning of infowindow */
/*.gm-style-iw
{
    top: 22px !important;
    left: 22px !important;
}*/